@import "../../root.scss";

.TakeawayLogo_title_wrapper {
  color: $palette-accent2;
  margin: 10px
}
.TakeawayLogo_title{
  font-size: 3rem;
  line-height: .4;
}
.TakeawayLogo_subTitle{
  font-size: 2rem;
  font-family: $font-secondary;
}
.primary {
  color: $palette-accent2;
}
.secondary {
  color: $palette-accent1;
}

.secondary > .TakeawayLogo_title{
  font-size: 2rem;
}
.secondary > .TakeawayLogo_subTitle{
  font-size: 1.5rem;
}