
$palette-main: #303C6C;
$palette-secondary: #B4DFE5;
$palette-accent1: #D2FDFF;
$palette-accent2: #FBE8A6;
$palette-accent3: #F4976C;

$font-main: 'Varela Round', sans-serif;
$font-secondary: 'Roboto', sans-serif;

$card-radius: 50px;